extends layout

block head
	script(src='js/gbc.js')
	script(src='https://cdn.socket.io/socket.io-1.3.4.js')
	//- Helpful things
	script(src='js/Blob.js')
	script(src='js/other/base64.js')
	script(src='js/other/json2.js')
	//- These lines are necessary for IE Audio, I think
	script(src='js/other/swfobject.js')
	script(src='js/other/resampler.js')
	script(src='js/other/XAudioServer.js')
	//- Others
	script(src='games/pokemon.js')
	script(src='js/other/resize.js')
	script(src='js/GameBoyCore.js')
	script(src='js/GameBoyIO.js')
	script(src='js/client.js')
	script(src='js/chat.js')

block content
	h3= 'Welcome to room ' + room_id
	img#hi
	.col-lg-6.col-md-4.col-sm-6.col-md-push-6
		.module
			.switch
				.button
			canvas#mainCanvas
	.col-lg-6.col-md-8.col-sm-6.col-md-pull-6
		.module
			include chat