doctype html
html
	head
		title Gameboy
		link(href='css/slate.min.css', rel='stylesheet')
		link(href='css/gameboy.css', rel='stylesheet')
		script(src='js/jquery-2.1.3.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		block head
	body
		.bg-color
			#container.container
				include ./flash
				block content
	footer
		| 	Built by 
		a(href='https://au.stin.xyz') austin.xyz
		| . See 
		a(href='/legal') Privacy Policy and legal
		| .
	head
		- if(include_google_analytics)
			script(src='js/analytics.js')

