extends layout

block content
	.container.legal
		.col-sm-6.col-md-6.col-lg-6
			h2 
				span.glyphicon.glyphicon-briefcase
			h3 GameBoy-Online
			a(href='https://github.com/grantgalitz/GameBoy-Online') Github
			br
			p
				|	Reproduced under GPL 2.
				br
				|	Modified by 
				a(href='https://www.npmjs.com/package/gameboy') rauchg
				|	for node.
			h3 socket.io
			a(href='https://github.com/Automattic/socket.io/blob/master/LICENSE') MIT License
			a(href='https://github.com/rauchg/weplay-emulator/') Weplay Example under MIT License
			h3 Bootstrap and Glyphicons Font
			a(href='https://github.com/twbs/bootstrap/blob/master/LICENSE') MIT License
		.col-sm-6.col-md-6.col-lg-6
			h2 Privacy Policy
			p
				|	No information is collected or stored by GBCloud. All uploads are stored
				|	indefinitely and can be removed by request. Please do not upload copyright-infringing data.
			p
				| 	Some information about
				ul
					li Your browser
					li Your location
					li Your activity on this website
					li Some system information
				|	is sent to and stored by 
				a(href='http://www.google.com/analytics/learn/privacy.html') Google Analytics
				| . IP addresses are anonymized.
				br
				| 	Some cookies will be stored in your browser. These are good things.