extends layout

block content
	.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6
		h2
			span.glyphicon.glyphicon-user
		form(action='who-are-you', method='POST')
			input(type='text', placeholder="What's your name?", name='username')
			br
			button(name='login', type='submit', class='btn btn-lg btn-primary') Okay!
